<h1 id="alerts" class="page-header" section>Alerts</h1>

<div class="row">
 <div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-body">
   <div class="alert alert-success"><span class="fa fa-check"></span><strong> Well done!</strong> You've successfully read <a href="#" class="alert-link">this important alert message.</a></div>
   <div class="alert alert-info"><strong> Heads up!</strong> This alert needs your attention, but it's not super important.</div>
   <div class="alert alert-warning"><span class="fa fa-exclamation-circle"></span><strong> Warning!</strong> Better check yourself, you're not looking too good.</div>
   <div class="alert alert-danger"><span class="fa fa-times"></span><strong> Oh snap!</strong> Change a few things up and try submitting again.</div>
   </div>
   <div class="panel-footer text-right">
       <a target="_blank" href="https://mikev370.makes.org/thimble/makerstrap-alerts/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
    </div>
   </div>
 </div>

 <div class="col-md-6">
 <p>You create alerts with one of the colour-specific classes:</p>
    <table class="table">
      <tr>
        <td><code>class="alert alert-success"</code></td>
        <td><div class="alert alert-success"><strong>Well done!</strong></div></td>
      </tr>
      <tr>
        <td><code>class="alert alert-info"</code></td>
        <td><div class="alert alert-info"><strong>Heads up!</strong></div></td>
      </tr>
      <tr>
        <td><code>class="alert alert-warning"</code></td>
        <td><div class="alert alert-warning"><strong>Warning!</strong></div></td>
      </tr>
      <tr>
        <td><code>class="alert alert-danger"</code></td>
        <td><div class="alert alert-danger"><strong>Oh snap!</strong></div></td>
      </tr>
    </table>
    <p>If you want to add links within alerts then use an <code>&lt;a&gt;</code>  tag and the <code>&lt;alert-link&gt;</code> class. 
 </div>

</div>
