<h1 id="buttons" class="page-header" section>Buttons</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="buttons-example">
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">
          <span class="fa fa-check"></span> Primary / Success</button>
        <button type="button" class="btn btn-secondary">
          <span class="fa fa-book"></span> Secondary</button>
        <button type="button" class="btn btn-info">
          <span class="fa fa-info-circle"></span> Info</button>
        <button type="button" class="btn btn-warning">
          <span class="fa fa-exclamation"></span> Warning</button>
        <button type="button" class="btn btn-danger">
          <span class="fa fa-exclamation-triangle"></span> Danger</button>
        <button type="button" class="btn btn-link">Link</button></p>
        <button type="button" class="btn btn-info btn-mb-block">This button is block on mobile</button></p>
      </div>
      <div class="panel-footer text-right">
        <a target="_blank" href="https://thimble.webmaker.org/en-US/project/47060/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <p>You should create buttons with the <code>&lt;button&gt;</code> tag plus one of the colour-specific classes:</p>
    <table class="table">
      <tr>
        <td><code>class="btn btn-default"</code></td>
        <td><button type="button" class="btn btn-default">Default</button></td>
      </tr>
      <tr>
        <td><code>class="btn btn-primary"</code></td>
        <td><button type="button" class="btn btn-primary">Primary / Success</button></td>
      </tr>
      <tr>
        <td><code>class="btn btn-secondary"</code></td>
        <td><button type="button" class="btn btn-secondary">Secondary</button></td>
      </tr>
      <tr>
        <td><code>class="btn btn-info"</code></td>
        <td><button type="button" class="btn btn-info">Info</button></td>
      </tr>
      <tr>
        <td><code>class="btn btn-warning"</code></td>
        <td><button type="button" class="btn btn-warning">Warning</button></td>
      </tr>
      <tr>
        <td><code>class="btn btn-danger"</code></td>
        <td><button type="button" class="btn btn-danger">Danger</button></td>
      </tr>
    </table>

    <p>If you want to create buttons that are 100% width on mobile screens, use the class <code>btn-block-mobile</code>.</p>

  </div>
</div>
