<h1 class="page-header" id="lists">Better Lists</h1>

<div class="example row">
  <div class="col-xs-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list list-inset">
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodulpa qui officia deserunt mollit anim id est laborum.
          </li>
          <li>Aliquam tincidunt mauris eu risus.</li>
          <li>Vestibulum auctor dapibus neque.</li>
          <li>Nunc dignissim risus id metus.</li>
          <li>Integer malesuada commodo nulla.</li>
        </ul>
        <ol class="list list-inset">
          <li>Cras iaculis ultricies nulla.</li>
          <li>Donec quis dui at dolor tempor interdum.
            <ol class="list list-alphabetical">
              <li>Some stuff</li>
              <li>Nunc dignissim risus id metus.</li>
              <li>Nunc dignissim risus id metus.</li>
              <li>Nunc dignissim risus id metus.</li>
            </ol>
          </li>
          <li>Vivamus molestie gravida turpis.</li>
          <li>Fusce lobortis lorem at ipsum semper sagittis.</li>
          <li>Nam convallis pellentesque nisl.</li>
          <li>Integer malesuada commodo nulla.</li>
        </ol>
      </div>
      <div class="panel-footer text-right">
        <a target="_blank" href="https://thimble.webmaker.org/en-US/project/47063/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
      </div>
    </div>

  </div>
  <div class="col-xs-6">
    <p>Use the class <code>list</code> for lists with hanging punctuation.</p>
    <p>Use the classes <code>list list-inset</code> for lists for inset lists.</p>
    <p>For alphabetical lists, use <code>&lt;ol class="list list-alphabetical"&gt;</code>.</p>

    <div class="alert alert-info">You should use <a href="http://www.markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2" class="alert-link">hanging punctuation</a> where you can. Only use inset lists inside call-outs, boxes, or panels where there is insufficient margin space.</div>

    <div hljs>
<ol class="list">
  <li>...</li>
</ol>

<ul class="list list-inset">
  <li>...</li>
</ul></div><!-- hljs -->
  </div>
</div>
