<h1 id="logo" class="page-header" section>Logo</h1>
<div class="row">
  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="https://webmaker.org" class="logo webmaker-logo"><img src="img/logo.png"></a>
    </div>
    <div class="panel-footer text-right">
      <a target="_blank" href="https://mikev370.makes.org/thimble/makerstrap-logo/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
    </div>
  </div>
  </div>
  <div class="col-md-6">
    <p>To refrence the webmaker logo link to the image and use the <code>logo webmaker-logo</code> class</p>
    <div hljs>
<a href="https://webmaker.org" class="logo webmaker-logo">
<img src="img/logo.png"></a></div>
  </div>
</div>
