<h1 id="LESSMixins" class="page-header" section>LESS Mixins</h1>

<h3>Flexbox</h3>
<div class="row">
  <div class="col-md-6">
    The flexbox mixin has several classes that can be implemented and they are described below:
    <div hljs>
.flex-display(flex);                  //flex-display: flex;
.flex(initial);                       //flex: initial
.flex-direction(row);                 //flex-direction: row;
.flex-wrap(nowrap);                   //flex-wrap: nowrap
.flex-flow(flow);                     //flex-flow: flow
.flex-order(order: 0);                //flex-order: 0
.flex-grow(grow: 0);                  //flex-grow: 0
.flex-shrink(shrink: 1)               //flex-shrink: 1
.flex-basis(width: auto)              //flex-basis: auto
.align-content(align: stretch)        //align-content: stretch
.align-items(align: stretch)          //alighn-items: stretch
.align-self(@align: auto)             //align-self: auto
.justify-content(justify: flex-start) //justify-content:flex-start
    </div>
  </div>
</div>
