<h1 id="navs" class="page-header" section>Navs</h1>

<h3>Webmaker nav</h3>
<nav class="navbar navbar-webmaker">
  <div class="navbar-header">
    <!-- toggle button for mobile -->
    <button class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars fa-lg"></span>
    </button>
    <!-- logo -->
    <a href="#" class="logo webmaker-logo">
      <img src="https://webmaker.org/img/logo.png">
    </a>
  </div>
  <div class="navbar-collapse">
    <!-- Sign in button -->
    <form ng-hide="navExLoggedIn" class="navbar-form navbar-right">
      <button ng-click="navExLoggedIn=true" class="btn btn-primary">Sign in</button>
    </form>
    <!-- User info -->
    <ul ng-show="navExLoggedIn" class="nav navbar-nav navbar-right">
      <li class="dropdown" href="#" logged-in-only>
        <a class="navbar-user-info dropdown-toggle" data-toggle="dropdown">
          <img
            class="user-info-avatar"
            src="https://i1.wp.com/stuff.webmaker.org/avatars/webmaker-avatar-200x200.png">
          Hi <strong>webmaker123</strong>
          <!-- labels for different user types -->
          <span class="hidden label label-primary">admin</span>
          <span class="label label-info">supermentor</span>
          <span class="hidden label label-warning">mentor</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="fa fa-fw fa-th-large"></span> My makes</a></li>
          <li><a href="#"><span class="fa fa-fw fa-user"></span> My profile</a></li>
          <li><a href="#"><span class="fa fa-fw fa-cog"></span> My settings</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="navExLoggedIn=false"><span class="fa fa-fw fa-sign-out"></span>Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<p class="alert alert-info">To see a more complete example including <strong>the language picker</strong> and secondary/tertiary navs, see <a href="./nav.html">nav.html</a></p>

<div hljs>
<nav class="navbar navbar-webmaker">
  <div class="container">
    <div class="navbar-header">
      <!-- toggle button for mobile -->
      <button class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars fa-lg"></span>
      </button>
      <!-- logo -->
      <a href="#" class="logo webmaker-logo">
        <img src="https://webmaker.org/img/logo.png">
      </a>
    </div>
    <div class="navbar-collapse">
      <!-- Sign in button - you should hide this when the user is logged in.  -->
      <form class="navbar-form navbar-right">
        <button data-log-in class="btn btn-primary">Sign in</button>
      </form>
      <!-- User info - you should only show this when the user is logged in -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" href="#">
          <a class="navbar-user-info dropdown-toggle" data-toggle="dropdown">
            <img
              class="user-info-avatar"
              src="https://i1.wp.com/stuff.webmaker.org/avatars/webmaker-avatar-200x200.png">
            Hi <strong>webmaker123</strong>
            <!-- labels for different user types -->
            <span class="hidden label label-primary">admin</span>
            <span class="label label-info">supermentor</span>
            <span class="hidden label label-warning">mentor</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="fa fa-fw fa-th-large"></span> My makes</a></li>
            <li><a href="#"><span class="fa fa-fw fa-user"></span> My profile</a></li>
            <li><a href="#"><span class="fa fa-fw fa-cog"></span> My settings</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="fa fa-fw fa-sign-out"></span>Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav></div>
