<h1 id="tables" class="page-header" section>Tables</h1>

<h3>Basic Table</h3>
<table class="table">
  <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
      </tr>
  </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td>John</td>
        <td>Doe</td>
      </tr>
       <tr>
        <td>2</td>
        <td>Kevin</td>
        <td>Smith</td>
      </tr>
       <tr>
        <td>3</td>
        <td>Jane</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>4</td>
        <td>George</td>
        <td>Rogers</td>
      </tr>
  </tbody>
 </table>
 <div class="panel-footer text-right">
  <a target="_blank" href="https://mikev370.makes.org/thimble/makerstrap-basictable/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
</div>

<h3>Hover Table</h3>
<table class="table table-hover">
  <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">User Name</th>
      </tr>
  </thead>
    <tbody class="text-center">
      <tr>
        <td>1</td>
        <td>John</td>
        <td>Doe</td>
        <td>jdoe</td>
      </tr>
       <tr>
        <td>2</td>
        <td>Kevin</td>
        <td>Smith</td>
        <td>ksmith</td>
      </tr>
       <tr>
        <td>3</td>
        <td>Jane</td>
        <td>Doe</td>
        <td>jdoe1</td>
      </tr>
      <tr>
        <td>4</td>
        <td>George</td>
        <td>Rogers</td>
        <td>grogers</td>
      </tr>
  </tbody>
 </table>
 <div class="panel-footer text-right">
  <a target="_blank" href="https://mikev370.makes.org/thimble/makerstrap-hovertable/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
</div>
