<h1 class="page-header" id="typography">Typography</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <hgroup>
          <h2>Open Sans</h2>
          <h3>Regular, <em>Italic</em>, <span class="text-light">Light</span>, and <strong>Semi-Bold</strong></h3>
        </hgroup>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation <a href="#">ullamco laboris nisi</a> ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="panel-footer text-right">
        <a target="_blank" href="https://thimble.webmaker.org/en-US/project/47065/edit" class="btn btn-default"><span class="fa fa-edit"></span> Edit me in thimble</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <p>Use <code>h1</code>, <code>h2</code>, <code>h3</code>, <code>h4</code> etc. for individual headers and <code>hgroup</code> to combine multiple headers into a single block.</p>
    <div hljs>
<h1>This is a header!</h1></div>
    <div hljs>
<hgroup>
  <h2>Open Sans</h2>
  <h3>Regular, Italic, and Semi-Bold</h3>
</hgroup></div>

    <p>For slightly larger lead paragraphs, use the class <code>lead</code></p>
    <div hljs>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p></div>
  <table class="table table-bordered">
    <tr>
      <th colspan="2">Other helpful text formatting</th>
    </tr>
    <tr>
      <td><code>&lt;strong&gt;bold&lt;/strong&gt;</code></td>
      <td><strong>bold</strong></td>
    </tr>
    <tr>
      <td><code>&lt;em&gt;italic&lt;/em&gt;</code></td>
      <td><em>italic</em></td>
    </tr>
    <tr>
      <td><code>&lt;span class="text-light"&gt;light&lt;/span&gt;</code></td>
      <td><span class="text-light">light</span></td>
    </tr>
    <tr>
      <td><code>&lt;span class="text-muted"&gt;grey&lt;/span&gt;</code></td>
      <td><span class="text-muted">grey</span></td>
    </tr>
  </table>
  </div>
</div>
