<h1 id="videos" class="page-header" section>Responsive Videos</h1>

<p>
  All videos should be responsive, and contained in an element with
  <code>class="video-letterbox"</code>. This can be a <code>&lt;figure&gt;</code>
  element for a truly fluid object, or a <code>&lt;div&gt;</code> with a
  <code>&lt;figure class="video-container"&gt;</code> parent for more control
  over css properties such as <code>min-width</code>, <code>max-width</code>,
  <code>min-height</code>, and <code>max-height</code>.
</p>

<figure class="video-container">
  <div class="video-letterbox">
    <iframe width="640" height="403" frameborder="0"
            mozallowfullscreen webkitallowfullscreen allowfullscreen
            ng-src="https://maxcapacity.makes.org/popcorn/1amp_" ></iframe>
  </div>
</figure>
