<!-- Installation, etc -->
<div class="container">
  <div ng-include="'views/examples/installation.html'"></div>
</div>

<!-- Examples -->
<div class="container">
  <div id="ex-colours" ng-include="'views/examples/colours.html'"></div>
  <div ng-include="'views/examples/typography.html'"></div>
  <div ng-include="'views/examples/lists.html'"></div>
  <div ng-include="'views/examples/buttons.html'"></div>
  <div ng-include="'views/examples/alerts.html'"></div>
  <div ng-include="'views/examples/forms.html'"></div>
  <div ng-include="'views/examples/tables.html'"></div>
  <div ng-include="'views/examples/navs.html'"></div>
  <div ng-include="'views/examples/mixins.html'"></div>
  <div ng-include="'views/examples/gallery.html'"></div>
</div>



