<!doctype html>
<html lang="en" ng-app="styleguide">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Makerstrap</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
  <link rel="stylesheet" href="compiled/demo.css">
</head>
<body >
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navController">

    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars fa-fw"></span>
        </button>

        <a class="navbar-brand" scroll-to>Makerstrap</a>

      </div>

      <div class="collapse navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li><a scroll-to="installation" offset="-80">Installation</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle">Docs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="choice in docsSections">
                <a scroll-to="{{choice}}" offset="-80">{{choice}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/mozilla/makerstrap"><span class="fa fa-github"></span> mozilla/makerstrap</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <h1>Webmaker Style Guide</h1>
      <p>Some styles for webmaker's style guide</p>
    </div>
  </div>

  <div ng-controller="docsController" ng-view></div>

  <footer class="wm-footer">
    <div class="container">
      <p>Footer...</p>
    </div>
  </footer>

  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/vendor/angular-highlightjs.min.js"></script>

  <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>

  <script src="js/styleguide.js"></script>


</body>
</html>
