<!doctype html>
<html lang="en" ng-app="styleguide">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Makerstrap</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="../makerstrap.min.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
  <link rel="stylesheet" href="css/demo.css">
</head>
<body ng-controller="mainController">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars fa-fw"></span>
        </button>

        <a class="navbar-brand" href="#">Makerstrap</a>

      </div>

      <div class="collapse navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#"><span class="fa fa-book icon-circle"></span> Link</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-link">
            <span class="fa fa-search"></span><span class="sr-only">Search</span>
          </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <h1>Webmaker Style Guide</h1>
      <p>Some styles for webmaker's style guide</p>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-warning">This style guide is totally still in progress! File issues <a href="https://github.com/k88hudson/makerstrap">on github</a></div>
  </div>

  <div class="container">
    <div class="page-header">
      <h1 section>Colours</h1>
    </div>
    <ul class="list-unstyled swatches">
      <li
        ng-repeat="colour in colours"
        class="swatch col-xs-3 col-sm-2 text-center"
        style="background-color: {{colour.hex}}"
        tooltip="{{colour.hex}}">
        <code ng-show="colour.bootstrap">{{colour.bootstrap}}</code>
        <code ng-hide="colour.bootstrap">@{{colour.less}}</code>
      </li>
    </ul>
  </div>

  <div class="container">

    <div class="page-header">
      <h1 section>Typography</h1>
    </div>



    <div class="row">

      <div class="col-xs-6">
        <hgroup>
          <h2>Open Sans</h2>
          <h3>Regular, <em>Italic</em>, <span class="text-light">Light</span>, and <strong>Semi-Bold</strong></h3>
        </hgroup>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation <a href="#">ullamco laboris nisi</a> ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-6">
        <p>Use <code>h1</code>, <code>h2</code>, <code>h3</code>, <code>h4</code> etc. for individual headers and <code>hgroup</code> to combine multiple headers into a single block.</p>
        <div hljs>
<hgroup>
  <h2>Open Sans</h2>
  <h3>Regular, Italic, and Semi-Bold</h3>
</hgroup></div>

      <p>For slightly larger lead paragraphs, use the class <code>lead</code></p>
      <div hljs>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p></div>
      <table class="table table-bordered">
        <tr>
          <th colspan="2">Other helpful text formatting</th>
        </tr>
        <tr>
          <td><code>&lt;strong&gt;...&lt;/strong&gt;</code></td>
          <td><strong>bold</strong></td>
        </tr>
        <tr>
          <td><code>&lt;em&gt;...&lt;/em&gt;</code></td>
          <td><em>italic text</em></td>
        </tr>
        <tr>
          <td><code>.text-light</code></td>
          <td><span class="text-light">light text</span></td>
        </tr>
        <tr>
          <td><code>.text-muted</code></td>
          <td><span class="text-muted">grey text</span></td>
        </tr>
        <tr>
          <td><code></code></td>
          <td></td>
        </tr>
        <tr>
          <td><code></code></td>
          <td></td>
        </tr>
      </table>
      </div>
    </div>


    <h2>Better Lists</h2>

    <div class="example row">
      <div class="col-xs-6">
        <p>Use the class <code>list</code> for lists with hanging punctuation and <code>list list-inset</code> for lists inside call-outs, boxes, or panels.</p>

        <ul class="list list-inset">
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <ul>
              <li>Some stuff</li>
              <li>Nunc dignissim risus id metus.</li>
            </ul>
          </li>
          <li>Aliquam tincidunt mauris eu risus.</li>
          <li>Vestibulum auctor dapibus neque.</li>
          <li>Nunc dignissim risus id metus.</li>
          <li>Integer malesuada commodo nulla.</li>
        </ul>
        <ol class="list">
          <li>Cras iaculis ultricies nulla.</li>
          <li>Donec quis dui at dolor tempor interdum.</li>
          <li>Vivamus molestie gravida turpis.</li>
          <li>Fusce lobortis lorem at ipsum semper sagittis.</li>
          <li>Nam convallis pellentesque nisl.</li>
          <li>Integer malesuada commodo nulla.</li>
        </ol>
      </div>
      <div class="col-xs-6">
        <div hljs>
<ol class="list">
  <li>...</li>
</ol>

<ul class="list list-inset">
  <li>...</li>
</ul></div><!-- hljs -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="page-header">
      <h1 section>Buttons</h1>
    </div>

    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary / Success</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>

    <h3>Responsive buttons</h3>

    <button type="button" class="btn btn-info btn-mb-block">This button is block on mobile</button>

  </div>

  <div class="container">
    <div class="page-header">
      <h1 section>Forms</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Regular form</h3>
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Credit card form</h3>
        <div class="panel panel-secure">
          <div class="panel-heading">
            <span class="fa fa-lock"></span> Payment Information
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="">Name on Card</label>
              <input type="text" class="form-control">
            </div>
            <form role="form">
              <div class="form-group">
                <label for="">Credit Card Number</label>
                <input type="number" class="form-control">
              </div>
              <div class="row">
                <div class="form-group col-xs-6">
                  <label for="">Expiration</label>
                  <input type="text" class="form-control" placeholder="MM/YY">
                </div>
                <div class="form-group col-xs-6">
                  <label for="">Security code</label>
                  <input type="text" class="form-control" placeholder="">
                  <p class="help-block"><a href="#">What is this?</a></p>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="page-header">
      <h1 section>Gallery</h1>
    </div>
  </div> <!-- container -->

<div class="gallery">
  <div class="container">
    <h2 class="gallery-title text-primary">This is a gallery! <small>Some other text that's relate her text that's relat her text that's r text that's r text that's r text that's relat her text that's relatd.</small></h2>
    <div class="row mason">
      <div ng-repeat="item in gallery" class="gallery-item col-xs-12 col-sm-4 col-lg-3">
        <div class="thumbnail">
          <div class="thumbnail-wrapper" style="background-image:url({{item.thumbnail}})"></div>
          <div class="caption">
            <h3>{{item.title}}</h3>
            <p class="text-muted">Created by @{{item.username}}</p>
            <p>{{item.description}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">
                <span class="fa fa-code-fork"></span> Remix
              </a>
              <a href="#" class="btn btn-danger" role="button">
                <span class="fa fa-heart"></span><span class="sr-only">Like</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <footer class="wm-footer">
    <div class="container">
      <p>Footer...</p>
    </div>
  </footer>

  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

  <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>

  <script src="js/styleguide.js"></script>


</body>
</html>
